.title_wrapper{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title, .title_404{
    font-size: 50px;
    color: rgb(0, 140, 255);
}

.title_404{
    font-size: 80px;
    margin-top: 30px;
}